/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgb(240, 240, 229), rgb(228, 199, 184));
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
}

header nav {
  display: flex;
  gap: 1rem;
}

/* main {
  margin-top: 8%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
} */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(240, 240, 229);
  /* color: #333; */
  /* padding: 16px; */
}

a {
  font-size: 14px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-weight: 600;
  color: #9e8b7c;
}

a:hover {
  color: #8b645a;
  transform: scale(1.05);
}

a:active {
  /* color: #40b085; */
}

h1 {
  font-size: 36px;
}

section {
  color: rgb(86, 69, 63);
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  /* need to be full width */
  max-width: 100%;
}

/* SHOULD BE flex-container and container items  */

.container {
  margin-top: 8%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; /* margin: auto; */
  margin-top: 20px;
  overflow: hidden;
}

.section ul {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
