#hero .container {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange items in a row */
  align-items: center; /* Center items vertically */
  gap: 2rem; /* Add space between items */
  padding: 2rem;
}

#hero article {
  display: flex; /* Use flex to arrange text and image */
  flex-direction: row; /* Stack text and image vertically */
  gap: 2.5rem; /* Space between text and image */
  align-items: center;
  max-width: 1200px; /* Max width to prevent large gaps */
  text-align: left; /* Center text inside article */
}

#hero article .text-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#hero article img {
  max-width: 100%;
  height: auto; /* Preserve aspect ratio */
  max-height: 500px; /* Limit height */
  object-fit: cover; /* Ensure the image scales correctly */
}

#hero blockquote {
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 768px) {
  #hero .container {
    gap: 1.5rem; /* Reduce gap on small screens */
    padding: 1rem; /* Add padding for smaller screens */
  }

  #hero .container h1 {
    text-align: center;
    /* padding: 1rem; */
  }
  #hero article {
    flex-direction: column-reverse; /* Stack text and image vertically on small screens */
    align-items: center; /* Center content */
  }

  #hero img {
    max-width: 100%; /* Image will take up full width on smaller screens */
    max-height: 400px; /* Adjust image height on smaller screens */
  }
}
